@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








.convoContain {
border: 1px solid black;
border-radius: 8px;
width: 60vw;
height: 65vh;
overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {
  .convoContain {
    width: 80vw;
    height: 70vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    overflow: scroll;
  }
}

.profilepic {
  border-radius: 100%;
  width: 218px;
  height: 207.5px;
 
}


.profilepicdiv {
   border-radius: 100%;
  width: 220px;
  height: 210px;
  margin-top: 180px;
  margin-left: 70px;
  background-color: white;
  border: 1px solid black;
}