@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.convoContain {
  
  height: 85vh;
  overflow-y: scroll;
  scrollbar-color: #c7cfcb #e0e0e0;
  scrollbar-width: thin;
  margin-top: 80px;
  

}

.convoContain::-webkit-scrollbar {
  width: 8px;
  background-color: #c7cfcb;
  border-radius: 10px;
  height: 90%;
}

.convoContain::-webkit-scrollbar-track {
  background: #c7cfcb;
 
}

.convoContain::-webkit-scrollbar-thumb {
  background-color: #928f8f;
  border-radius: 10px;
  
}

.chatPanel, .chatSend, .provider {
   scrollbar-color: #c7cfcb #e0e0e0;
  scrollbar-width: thin;
 
}


.chatPanel::-webkit-scrollbar, .chatSend::-webkit-scrollbar, .provider::-webkit-scrollbar {
  width: 5px;
  background-color: #c7cfcb;
  border-radius: 8px;
  height: 90%;
  margin-top:  80px;
}

.chatPanel::-webkit-scrollbar-track, .chatSend::-webkit-scrollbar-track, .provider::-webkit-scrollbar-track {
  background: #c7cfcb;
  margin-top:  80px;
 
}

.chatPanel::-webkit-scrollbar-thumb, .chatSend::-webkit-scrollbar-thumb, .provider::-webkit-scrollbar-thumb {
  background-color: #928f8f;
  border-radius: 10px;
  margin-top:  80px;
}



@media only screen and (max-width: 1000px) {
  .convoContain {
   margin-top: 103px !important;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    overflow: scroll;

  }
}



.profilepic {
  border-radius: 100%;
  width: 215px !important;
  height: 207.5px;
 
}

@media only screen and (max-width: 1000px) {
  .profilepic {
    width: 100% !important;
    min-height: 100%;
    
  }
}


.profilepicdiv {
   border-radius: 100%;
  width: 220px;
  height: 215px;
  margin-top: 180px;
  margin-left: 70px;
  background-color: white;
  border: 1px solid black;

}

@media only screen and (max-width: 1000px) {
  .profilepicdiv  {
    width: 160px !important;
    height: 150px !important;
    margin-top: 70px !important;
    border-radius: 100%;
  }
}

.profileHeader {
    background-image: url("../public/header.png");
    background-size: cover;
}

#input-with-image {
  background-image: url("../public/search.png");
  background-repeat: no-repeat;
  background-position: left; 
  padding-left: 30px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-size: 16px 16px;
  background-position: calc(0% + 5px) center; 
  
}

.provider {
padding-top: 140px;
  scrollbar-color: #c7cfcb #e0e0e0;
  scrollbar-width: thin;
  min-height: 100vh;
}

.providerSmall {
  scrollbar-color: #c7cfcb #e0e0e0;
  scrollbar-width: thin;
  min-height: 100vh;
}

.blue {
  color: #60A5FA;
  font-weight: 700;
}